#! /usr/bin/env python

import sys
import os
import importlib
import extargsparse
import logging
import re
import types

def _insert_path(path,*args):
	_curdir = os.path.join(path,*args)
	if _curdir  in sys.path:
		sys.path.remove(_curdir)
	sys.path.insert(0,_curdir)
	return

_insert_path(os.path.dirname(os.path.realpath(__file__)),'..','..')
_insert_path(os.path.dirname(os.path.realpath(__file__)))
import ply.lex as lex
import tgtlex as tgtlex
from cmnfile import read_file,set_logging


class TgtConfigYacc(object):pass


class TgtYacc(TgtConfigYacc):
	def __init__(self,lexer=None):